<h2 class="current-platform"><%= params[:platform] %></h2>

<% if @games.count == 0 %>
  <h2>There are currently no games for <%= params[:platform] %>. Try adding your own!</h2>
<% else %>
<div class="row">
  <% @games.each do |game| %>
    <div class="col-md-3">
      <a href="/games/<%= game.id %>">
        <%= image_tag game.game_img.url(:game_index), class: "game" %>
      </a>
    </div>
  <% end %>
</div>
<% end %>
