<h2 class="current-platform"><%= params[:platform] %></h2>

<% if @games.count == 0 %>
  <h2>There are no currently no games for <%= params[:platform] %>. Try adding your own!</h2>
<% else %>
  <% @games.each do |game| %>
    <h2><%= link_to game.title, game_path(game) %></h2>
  <% end %>
<% end %>
